{% extends "index.html" %}
    {%block main %}

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th> # </th>
      <th> title </th>
      <th> company </th>
      <th> status </th>
      </tr>
    </thead>
  <tbody >

      {% for id, title, company_name, status in jobs%}
      <tr>
        <td> <a href="{{url_for('jobs.jobdetail', jid=id)}}">{{id}} </a></td>
        <td> {{title}} </td>
        <td> {{company_name}} </td>
        <td> {{status}} </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
    {%endblock %}

