<html>
  <head>
    <title>Jobs page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>HI WELCOME!!!</h1>
          <div style="background-color: yellow">
          {% block header %} XXXXYYYYY {% endblock %}
          </div>


          {% block body %} {% endblock %}
        </div>
      </div>
  </div>
  </body>
</html>
